* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  width: 100%;
  height: 400px;
  background-color: red;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: nowrap;
  overflow: auto;

  /* flex-shrink: ; */
}
main::-webkit-scrollbar{
  display: none;
}

/* Custom Styles */
.child {
  height: 100%;
  width: 250px;
  background-color: pink;
  border-radius: 30px;
  flex-shrink: 0;
}
.child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.child:hover img {
  width: 105%;
  height: 105%;
  border: 10px solid greenyellow;
  
  
}

