* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    /* background-color: rgb(0, 0, 0); */
}
main{
    width: 100%;
    height: 100%;
    background-color: rgb(249, 249, 249);
    padding: 20px;
    gap: 20px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}
.card{
    height: 300px;
    width: 250px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-shrink: 0;
    
}
.card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.card h2{
    font-weight: 800;
    font-size: 26px;
}
.card p{
    font-size: 14px;
    font-weight: 600;
    color: #6f5e5e;
    text-align: center;

}
.card button{
    border-radius: 50px;
    padding: 10px 20px;
    background-color: darkorange;
    border: none;
    color: white;
    font-weight: 600;
}
.card:hover{
    height: 400px;
    width: 300px;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 15px 15px 40px blue;
}
.card button:hover{
    
    background-color: rgb(72, 231, 115);
    color: black;
   
}

