*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
  padding: 20px;
}

h1{
  background-color: red;
}
h3 span{
  background-color: forestgreen;
  font-size: 2rem;
}