*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(149, 87, 87);
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
}
main{
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  
}

/* Custom Styles */
.card{
    height: 420px;
    width: 400px;
    background-color: red;
    position: relative;
    transition: all ease 5s;
    overflow: hidden;
    border-radius: 20px;

}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.bottom{
    height: 40%;
    width: 100%;
    position: absolute;
    bottom: -40%;
    background: linear-gradient(transparent, rgb(255, 10, 10));
    transition: all ease 0.5s;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.card:hover .bottom{
    bottom: 0;
}
.bottom h2{
    background-color: transparent;
    color: rgb(255, 255, 255);
}
.bottom h3{
    background-color: transparent;
    padding: 5px 7px;
    font-size: 2rem;
    border-radius: 50%;
    
    
    
}

