@font-face {
    font-family: hed;
    src: url(./ursula-handschrift-beta-02\ copy.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}

#div1{
    padding: 40px 40px;
    background-color: rgb(31, 30, 77);
    text-align: center;
    
    color: aliceblue;

}
#div1 h1{
    font-size: 50px;
    text-transform: capitalize ;
    line-height: 90px;
    text-transform: uppercase; 
    font-family: hed;
    
}
#div1 h3{
    font-size: 20px;
    text-transform: capitalize ;
    
    
}

#div2{
    background-color: whitesmoke;
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 8%;
    padding: 40px;

    
}
h2{
    text-align: center;
    font-size: 50px;
    padding: 30px;
    
}
p{
    font-size: 20px;
    text-align: center;
    padding-left: 17%;
    padding-right: 17%;
    color: rgb(124, 122, 122);
}
#div3{
    background-color: rgb(224, 238, 249);
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 8%;
    padding: 50px;

    
}
h2{
    text-align: center;
    font-size: 50px;
    padding: 30px;
    
}
#div3 p:hover{
    font-size: 30px;   

}
#div3 p{
    font-size: 20px;
    text-align: center;
    padding-left: 17%;
    padding-right: 17%;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    
    font-size: 24px;
    padding: 20px;
    
}
#div4{
    background-color: rgb(224, 238, 249);
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 8%;
    padding: 50px;
    background-color: #fcedb9;

}
#div4 p{
    font-size: 20px;
    text-align: center;
    padding-left: 17%;
    padding-right: 17%;
    color: rgb(0, 0, 0);
    background-color: #fff;
    
    font-size: 24px;
    padding: 20px;
    
}
#div4 p:hover{
    font-size: 30px; 
}  
#div5{
    background-color: rgb(224, 238, 249);
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 8%;
    padding: 50px;
    background-color: #a48eb5;

}
#div5 p{
    font-size: 20px;
    text-align: center;
    padding-left: 17%;
    padding-right: 17%;
    color: rgb(0, 0, 0);
    background-color: #fff;
    
    font-size: 24px;
    padding: 20px;
    
}
#div5 p:hover{
    font-size: 30px;   

}
#div6{
    background-color: rgb(224, 238, 249);
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 8%;
    padding: 50px;
    background-color: #c2e6d9;

}
#div6 p{
    font-size: 20px;
    text-align: center;
    padding-left: 17%;
    padding-right: 17%;
    color: rgb(0, 0, 0);
    background-color: #fff;
    
    font-size: 24px;
    padding: 20px;
    
}
#div6 p:hover{
    font-size: 30px;   

}
